In [23]:
import pandas as pd
import datetime

In [5]:

deepmm_sample = pd.read_csv('../data/Deep_MM_sample.csv', parse_dates=['execution_date', 'report_date'])

In [6]:
deepmm_sample.report_date.dtype

dtype('<M8[ns]')

In [9]:
deepmm_sample['error'] = (deepmm_sample.price - deepmm_sample.deepmm_price).abs()
deepmm_sample['squared_error'] = deepmm_sample.error * deepmm_sample.error
deepmm_sample

,Unnamed: 0,execution_date,report_date,figi,quantity,buy_sell,side,ats_indicator,price,deepmm_price,error,squared_error
0,0,2021-11-05 15:48:28,2021-11-05 15:48:28,BBG00JDHWGK3,18000,S,C,N,108.618,108.840965,0.222965,0.049713
1,1,2021-11-05 15:48:55,2021-11-05 15:49:01,BBG00F0V86D1,26000,B,C,N,106.604,106.487891,0.116109,0.013481
2,2,2021-11-05 15:48:55,2021-11-05 15:49:01,BBG00F0V86D1,26000,S,D,Y,106.604,106.536286,0.067714,0.004585
3,3,2021-11-05 15:49:30,2021-11-05 15:49:32,BBG0045NJ2G3,4000,S,D,N,104.100,103.924602,0.175398,0.030764
4,4,2021-11-05 15:49:01,2021-11-05 15:49:33,BBG00FRY84X9,18000,S,D,N,109.672,109.506482,0.165518,0.027396
...,...,...,...,...,...,...,...,...,...,...,...,...
2407449,9993,2022-03-02 15:26:42,2022-03-02 15:26:57,BBG009BVCLT8,5000,B,C,N,104.680,104.665538,0.014462,0.000209
2407450,9994,2022-03-02 15:26:41,2022-03-02 15:26:57,BBG00TJXGBH3,8000,B,C,N,96.127,96.094238,0.032762,0.001073
2407451,9995,2022-03-02 15:26:39,2022-03-02 15:26:57,BBG00CCN8WL7,9000,B,C,N,106.507,106.355932,0.151068,0.022821
2407452,9996,2022-03-02 15:26:35,2022-03-02 15:26:57,BBG0068N9NQ9,6000,B,C,N,103.114,103.105248,0.008752,0.000077
2407453,9997,2022-03-02 15:26:55,2022-03-02 15:26:57,BBG00HY3R5Q9,24000,S,D,N,102.523,102.598551,0.075551,0.005708

In [12]:
mse = deepmm_sample.squared_error.sum() / deepmm_sample.shape[0]
mse

0.37986503714159975

In [21]:
simple_summary = deepmm_sample[['report_date', 'error', 'squared_error']]
simple_groups = simple_summary.groupby([simple_summary.report_date.dt.year, simple_summary.report_date.dt.month, simple_summary.report_date.dt.week]).mean()

<ipython-input-21-815627a1659e>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  simple_groups = simple_summary.groupby([simple_summary.report_date.dt.year, simple_summary.report_date.dt.month, simple_summary.report_date.dt.week]).mean()

In [22]:
simple_groups

                                        error  squared_error
report_date report_date report_date
2021        11          44           0.269146       0.178128
                        45           0.310535       0.391950
                        46           0.290993       0.384806
                        47           0.316544       0.375790
                        48           0.307516       0.336428
            12          48           0.281789       0.315747
                        49           0.266765       0.298959
                        50           0.254561       0.377926
                        51           0.246230       0.254228
                        52           0.246844       0.241001
2022        1           1            0.326378       0.449341
                        2            0.255687       0.323720
                        3            0.292229       0.393515
                        4            0.288411       0.336151
                        5            0.239060       0.240055
            2           5            0.302852       0.378118
                        6            0.326269       0.493289
                        7            0.324094       0.467643
                        8            0.320831       0.447868
                        9            0.394152       0.519923
            3           9            0.403415       0.535816

In [25]:
good_time_period = deepmm_sample[deepmm_sample.report_date <= pd.to_datetime('2022-02-05')]

In [28]:
good_time_period.to_csv('../data/deepmm_sample_1.csv')